body{
	font: 400 1.2em Arial;
}
h2, h3, p, input[type=submit]{
	text-align:center; 		
}
h3, p , button{
	font-size: 1.2em;
}
.flash {	
	padding: 10px;
	margin: 10px;
	font-type: bold;
} 
.success {
	color: green;
	background-color: #90ee90; 
} 
.error {
	color: red;
	background-color: #f9afaf;	 
}
input:invalid {
	border-color: red;
}
form, .subform {
	/*text-align:center;*/ 
	display: block;	 
}
.product-box{
	border: 2px solid #0078e7; 
	margin: 10px 15px; 
	padding: 4px 4px;
} 

/* Style the tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}